.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: .625rem;
}

.input-label {
    margin-bottom: .3125rem;
}

.input-tag {
    height: 40px;
    padding: 6px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #ededed;
}