.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 1rem;
    cursor: pointer;
    &:not(:last-child):after {
        content: "";
        width: calc(100% - 2rem);
        position: absolute;
        bottom: 0;
        border-top: 1px solid #ededed;
        left: 50%;
        transform: translateX(-50%);
    }
}

.item-name {
    flex: 1;
    font-size: 1.25rem;
    margin-bottom: .3125rem;
}

.spec {
    flex: 0 0 100%;
    display: flex;
    margin-top: .3125rem;
    .spec-key {
        font-weight: bold;
        font-size: 16px;
        margin-right: 5px;
        text-transform: capitalize;
    }
}

.edit-btn {
    margin-right: 1rem;
}

.edit-btn,
.delete-btn {
    color: #4646c4;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}